<%- include('layouts/nav') %>
<section class="">
    <div class="bg-fixed bg-cover bg-center bg-no-repeat bg-gray-400 h-[80vh] relative" style="background-image: url('assets/img/bg.jpg');">
        <div class="bg-gradient-to-t from-black/75 to-transparent bg-opacity-50 absolute bottom-0 left-0 w-full h-3/4"></div>
        <div class="font-raleway w-full h-full absolute z-10 flex justify-center items-center">
            <div class="w-10/12 lg:w-full lg:flex items-center flex-col">
                <h1 class="text-left text-xl lg:text-5xl text-white font-bold">Selamat Datang di  <%= desa.name %></h1>
                <span class="flex items-center gap-3">
                    <i class="ri-map-pin-2-line font-lg text-white"></i>
                    <p class="text-white text-md"><%= desa.location %></p>
                </span>
                <a href="#about">
                    <button class="bg-green-500 text-green-50 font-medium py-2 px-4 rounded mt-5">Selengkapnya</button>
                </a>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="mt-16 w-11/12 lg:w-8/12 mx-auto">
        <div class="my-12">
            <h1 class="text-3xl text-center font-bold">Sambutan</h1>
            <div class="flex w-1/6 mx-auto items-center mt-2">
                <div class="basis-1/3 h-[2px] bg-gray-600"></div>
                <div class="basis-1/3 h-[4px] bg-green-400"></div>
                <div class="basis-1/3 h-[2px] bg-gray-600"></div>
            </div>
        </div>

        <div class="w-full flex flex-col gap-4 lg:flex-row items-center justify-center">
            <div class="lg:w-1/2 flex justify-end">
                <img class="lg:w-10/12 h-full object-cover" src="/assets/img/pakdess.png" alt="kepala desa">
            </div>
            <div class="lg:w-2/3">
                <h1 class="text-2xl font-bold text-gray-700 my-4">Kepala Desa</h1>
                <p class="text-justify leading-loose text-md">
                    <%=desa.openingSpech %>
                </p>
            </div>
        </div>
    </div>
</section>
<section class="mt-16">
    <div class="px-4 lg:px-0 lg:w-10/12 mx-auto mt-16">
        <div class="w-full text-center">
            <h1 class="font-bold text-xl lg:text-2xl">Visi & Misi Desa Konda 1</h1>
            <div class="flex w-1/6 mx-auto items-center mt-2">
                <div class="basis-1/3 h-[2px] bg-gray-600"></div>
                <div class="basis-1/3 h-[4px] bg-green-400"></div>
                <div class="basis-1/3 h-[2px] bg-gray-600"></div>
            </div>
        </div>
        <div class="w-full h-full mt-12">
            <div class="lg:w-10/12 mx-auto h-full flex gap-12 lg:flex-row-reverse flex-col-reverse">
                <div data-aos="fade-right"  class="w-full lg:w-1/2">
                    <div class="lg:flex">
                        <div class="lg:flex h-full justify-evenly flex-col mt-2">
                            <h1 class="text-2xl font-bold text-gray-700">Visi</h1>
                            <p class="text-justify text-md leading-loose my-4"><%= desa.vision%></p>
                            <h1 class="text-2xl font-bold text-gray-700">Misi</h1>
                            <ul>
                                <% desa.mission.forEach((misi, index) => { %>
                                    <li><p class="text-justify text-md leading-loose"><%=`${index +=1 }. ${misi}`%></p></li>
                                <% }) %>
                            </ul>
                        </div>

                    </div>
                </div>
                <div data-aos="fade-left"  class="w-1/2 mx-auto h-92 lg:flex justify-end">
                    <img class="w-80 object-cover " src="/assets/img/download.jpg" alt="kepala desa">
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="mt-16 w-full lg:w-8/12 mx-auto my-12">
        <div class="my-12">
            <h1 class="text-3xl text-center font-bold">Potensi</h1>
            <h1 class="font-bold text-2xl lg:text-5xl text-center">Desa Konda Satu</h1>
            <div class="flex w-1/6 mx-auto items-center mt-2">
                <div class="basis-1/3 h-[2px] bg-gray-600"></div>
                <div class="basis-1/3 h-[4px] bg-green-400"></div>
                <div class="basis-1/3 h-[2px] bg-gray-600"></div>
            </div>
        </div>
        <div class="w-full flex flex-col lg:flex-row flex-wrap justify-center">
            <% desa.potensi.forEach(item => { %>
                <div class="w-full md:w-1/2 p-4 max-h-fit">
                    <div data-aos="fade-up" class="w-full bg-white border-[.5px] hover:shadow-lg rounded-lg transition-all duration-200 overflow-hidden">
                        <div class="w-full">
                            <img class="w-full max-h-80 object-cover rounded-t-lg" src="<%= item.photo.secure_url %> " alt="kepala desa">
                        </div>
                        <div tabindex="0" class="collapse collapse-arrow bg-base-100">
                            <div class="collapse-title text-xl font-medium">
                                <h1 class="font-medium text-gray-700"><%= item.name %> </h1>
                            </div>
                            <div class="collapse-content">
                                <p class="text-md text-gray-500 mt-2"><%= item.description %> </p>
                            </div>
                        </div>
                    </div>
                </div>
            <% }) %>
        </div>
        <div class="w-full flex justify-center mt-8">
            <a href="/potensi-desa" class="w-1/2 lg:w-1/4 bg-green-400 hover:bg-green-500 text-white text-center py-2 rounded-lg transition-all duration-200">Lihat Selengkapnya</a>
        </div>
    </div>
</section>
<section class="mt-12">
    <div class="px-4 lg:px-0 lg:w-10/12 mx-auto">
        <div>
            <h1 class="font-bold text-2xl text-center uppercase text-gray-700">Perangkat desa</h1>
        </div>
        <div class="flex w-1/6 mx-auto items-center mt-2">
            <div class="basis-1/3 h-[2px] bg-gray-600"></div>
            <div class="basis-1/3 h-[4px] bg-green-400"></div>
            <div class="basis-1/3 h-[2px] bg-gray-600"></div>
        </div>
        <div class="mt-4 w-full lg:w-10/12 px-4 lg:px-0 flex flex-col lg:flex-row flex-wrap mx-auto justify-center">

            <!-- ejs looping perangkats -->
            <% desa.orgs.forEach(perangkat => { %>
                <div class="w-full lg:w-1/2 p-2">
                    <div data-aos="fade-up" class="w-full flex flex-col lg:flex-row rounded overflow-hidden h-full items-center border">
                        <div class="w-1/3 h-full mt-4 lg:mt-0">
                            <img src="<%= perangkat.photo.secure_url %>" alt="" class="w-full h-full object-cover">
                        </div>
                        <div class="w-full lg:w-2/3 p-4">
                            <table class="w-full text-md">
                                <tr>
                                    <td class="">Nama</td>
                                    <td>:</td>
                                    <td class=""><%= perangkat.name %></td>
                                </tr>
                                <tr>
                                    <td class="">Jabatan</td>
                                    <td>:</td>
                                    <td class=""><%= perangkat.position %></td>
                                </tr>
                                <tr>
                                    <td class="">No. Telp</td>
                                    <td>:</td>
                                    <td class=""><%= perangkat.number %></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            <% }); %>
        </div>
        <div class="w-full flex justify-center mt-8">
            <a href="/perangkat-desa" class="w-1/2 lg:w-1/4 bg-green-400 hover:bg-green-500 text-white text-center py-2 rounded-lg transition-all duration-200">Lihat Selengkapnya</a>
        </div>
    </div>
</section>
<section>
    <div class="mt-16 w-full lg:w-10/12 mx-auto">
        <div class="my-12">
            <h1 class="text-3xl text-center font-bold">Kegiatan</h1>
            <h1 class="font-bold text-2xl lg:text-5xl text-center">Desa Konda Satu</h1>
            <div class="flex w-1/6 mx-auto items-center mt-2">
                <div class="basis-1/3 h-[2px] bg-gray-600"></div>
                <div class="basis-1/3 h-[4px] bg-green-400"></div>
                <div class="basis-1/3 h-[2px] bg-gray-600"></div>
            </div>
        </div>
        <div class="w-full h-full flex flex-col lg:flex-row flex-wrap">
            <% desa.kegiatan.forEach(item => { %>
                <div class="w-full md:w-1/2 p-2 lg:px-2 mx-auto relative">
                    <div data-aos="fade-right" class="w-full bg-white border-[.5px] hover:shadow-lg rounded-lg transition-all duration-200 overflow-hidden">
                        <div class="w-full">
                            <img class="w-full max-h-96 object-cover rounded-t-lg" src="<%= item.photo.secure_url %> " alt="<%= item.name %> ">
                        </div>
                        <div class="w-full p-4">
                            <div tabindex="0" class="collapse collapse-arrow bg-base-100">
                                <div class="collapse-title text-xl font-medium">
                                    <div class="w-full flex gap-2 items-center">
                                        <h1 class="font-medium text-xl text-gray-700"><%= item.name %> </h1>
                                        <h3 class="text-gray-600 text-xs"><%= item.date.toLocaleDateString('id-ID', {
                                            timeZone: 'Asia/Jakarta',
                                            weekday: 'long',
                                            year: 'numeric',
                                            month: 'long',
                                            day: 'numeric',
                                        }) %> </h3>
                                    </div>
                                </div>
                                <div class="collapse-content">
                                    <p class="text-md text-gray-500 mt-2"><%= item.description %> </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <% }) %>
        </div>
        <div class="w-full flex justify-center mt-8">
            <a href="/kegiatan-desa" class="w-1/2 lg:w-1/4 bg-green-400 hover:bg-green-500 text-white text-center py-2 rounded-lg transition-all duration-200">Lihat Selengkapnya</a>
        </div>
    </div>
</section>